/* dropdowns */
.dropdownWrapper {
  display: inline-block;
}
.tippy-dropdown-menu {
  border: 2px solid var(--light);
  border-radius: 5px;
  background-color: var(--dark);
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.tippy-dropdown-menu.open {
  border-color: var(--accent);
  padding: 0.4em;
  height: auto;
  width: auto;
  max-width: calc(100vw - 1rem);
  max-height: calc(100vh - 1rem);
  overflow: auto;
  cursor: default;
}
.tippy-dropdown-menu:hover {
  border-color: var(--accent);
}
.dropdownWrapper .spacer {
  display: none;
}
.dropdownWrapper.open .spacer {
  border: 2px solid transparent;
  margin: 2px;
  display: inline-block;
  vertical-align: middle;
}
.tippy-dropdown-menu br,
.tippy-dropdown-menu hr {
  display: none;
}
.tippy-dropdown-menu.open br {
  display: inline;
}
.tippy-dropdown-menu.open hr {
  display: block;
  border-color: var(--accent);
  border-style: solid;
}
.tippy-dropdown-menu input[type="radio"] {
  display: none;
}
.tippy-dropdown-menu input[type="radio"] + label {
  border-radius: 5px;
  display: none;
  margin: 2px;
}
.tippy-dropdown-menu.open input[type="radio"] + label {
  display: inline-block;
}
.tippy-dropdown-menu input[type="radio"] + label:hover {
  background-color: var(--light);
}
.tippy-dropdown-menu input[type="radio"]:checked + label {
  display: inline-block;
  pointer-events: none;
}
.tippy-dropdown-menu.open input[type="radio"]:checked + label {
  background-color: var(--light);
  pointer-events: auto;
}

.tippy-box[data-theme~="factorio-dropdown"] {
  color: inherit;
  background: transparent;
}

.tippy-box[data-theme~="factorio-dropdown"] > .tippy-content {
  padding: 0;
}
